@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&family=Mochiy+Pop+One&display=swap');
#profile{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}
.name{
    border-radius: 43px;
background: #e0e0e0;
box-shadow:  10px 10px 28px #989898,
             -5px -5px 20px #ffffffaf;
}
.info{
    border-radius: 43px;
    background: #e0e0e0;
    box-shadow:  20px 20px 28px #989898,
                 -20px -20px 28px #ffffff;
}
li{
    margin-top: 10px;
    font-size: 18px;
    
    
}
i{
    margin-top: 10px !important;
    font-size: 25px;
    font-style: oblique;
}
p{
    margin-top: 10px !important;
    font-size: 25px;
    font-style: oblique;
}
#whatsapp{
    color: #4fce5d;
}
.e-mail a{
    padding-top: 7px !important;
    color: black ;
    border: 1px solid black;
    padding: 5px 6% ;
    border-radius: 10%;
    transition: 0.5s;
} 
.e-mail a:hover{
    color: white;
    background-color: black;
} 
.facebook a{
    padding-top: 7px !important;
    padding: 5px 6% ;
    border: 1px solid #1778f2;
    border-radius: 10%;
    transition: 0.5s;

}
.facebook a:hover{
    padding-top: 7px !important;
    padding: 5px 6% ;
    border: 1px solid #ffffff;
    background-color: #1778f2;
    border-radius: 10%;
    color: #fff;

}
.profile-modal{
    background-color: rgb(90, 90, 90) !important;
}
.profile-modal {
    background-color: rgb(90, 90, 90) !important;
  }
  
  /* On screens that are 992px or less, set the background color to blue */
  @media screen and (max-width: 992px) {
    .profile-modal {
      background-color: rgba(145, 145, 145, 0.514) !important;
    }
  }
  
  /* On screens that are 600px or less, set the background color to olive */
  @media screen and (max-width: 600px) {
    .profile-modal {
      background-color: rgba(155, 155, 19, 0.486) !important;
    }
  }
